.avatar {
  width: 100%;
  text-align: center; }
  .avatar img {
    width: 100%;
    max-width: 120px;
    border-radius: 50%; }
  .avatar p {
    font: 700 16px normal;
    color: #fff;
    text-align: center; }
