html, body {
  height: 100%; }

.wrap {
  height: 100%; }

.app {
  width: 100%;
  height: 100%; }
  .app .content {
    width: 87.5%;
    margin-left: 12.5%;
    padding-left: 30px; }
  .app .editor {
    width: 87.5%;
    margin-left: 12.5%; }
  .app .article {
    width: 87.5%;
    margin-left: 12.5%;
    padding-left: 30px; }
  .app .sidebar {
    width: 12.5%; }

pre {
  overflow-x: auto;
  padding: 20px;
  background: url(/img/bg-code.png) top center #fdf6e3;
  color: #657b83;
  -webkit-text-size-adjust: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
