.list-item {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee; }
  .list-item:first-child .title {
    margin-top: 0; }
  .list-item .title {
    margin-bottom: 10px; }
  .list-item .info-bar {
    font: 500 14px/20px normal;
    color: #333; }
    .list-item .info-bar .time {
      margin-right: 20px; }
  .list-item .tags {
    overflow: hidden;
    *zoom: 1;
    margin-top: 5px; }
    .list-item .tags .tag {
      float: left;
      padding: 2px 3px;
      margin-right: 10px;
      color: #ccc;
      border: 1px solid #666;
      border-radius: 5px; }
  .list-item .abs {
    font: 500 20px/28px normal;
    color: #666;
    margin-bottom: 10px; }
  .list-item a {
    text-decoration: none; }
    .list-item a:hover {
      text-decoration: underline; }
