.avatar {
  width: 100%;
  text-align: center; }
  .avatar img {
    width: 100%;
    max-width: 120px;
    border-radius: 50%; }
  .avatar p {
    font: 700 16px normal;
    color: #fff;
    text-align: center; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .nav .item {
    width: 82px;
    margin-bottom: 20px;
    font: 700 16px/20px normal;
    color: #fff;
    text-decoration: none;
    transition: transform .5s ease; }
    .nav .item:hover {
      transform: translate3d(10px, 0, 0); }
    .nav .item i {
      font-size: 20px;
      margin-right: 10px; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 1px 0 4px 1px #ccc; }
  .sidebar .avatar,
  .sidebar .nav {
    position: relative;
    z-index: 100; }
  .sidebar .avatar {
    margin-top: 20px;
    margin-bottom: 50px; }
  .sidebar .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/bg.jpeg) no-repeat;
    background-size: auto 100%;
    -webkit-filter: blur(1px);
    z-index: 1; }
